.App {
  text-align: center;
}

.App-logo {
  z-index: 0;
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #8e8268;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  background: #47485355 !important;
}

.card-data-display {
  margin: 12px;
  padding: 12px;
  background: #aaa0a0 !important;
}

.card-buttons {
  background: #47485355 !important;
}

.button {
  background: #47485355 !important;
}



